@font-face {
    font-family: "Proxima Nova Reg";
    src: url(/proxima-nova-reg.otf) format("opentype");
}
@font-face {
    font-family: "Proxima Nova Light";
    src: url(/proxima-nova-light.otf) format("opentype");
}
@font-face {
    font-family: "Proxima Nova Bold";
    src: url(/proxima-nova-bold.otf) format("opentype");
}
body {
    background: white;
}
div.main-container {
    font-family: "Proxima Nova Reg", Helvetica, sans-serif;
    padding: 100px 10%;
}
div.main-container h1 {
    font-family: "Proxima Nova Bold", Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0.08em;
    font-weight: 600;
    text-transform: uppercase;
}
div.main-container p {
    font-family: "Proxima Nova Light", Helvetica, sans-serif;
    font-size: 24px;
}