@font-face {
    font-family: "Proxima Nova Reg";
    src: url(/proxima-nova-reg.otf) format("opentype");
}
@font-face {
    font-family: "Proxima Nova Light";
    src: url(/proxima-nova-light.otf) format("opentype");
}
@font-face {
    font-family: "Proxima Nova Bold";
    src: url(/proxima-nova-bold.otf) format("opentype");
}
body {
    background: white;
}
div.main-container {
    font-family: "Proxima Nova Reg", Helvetica, sans-serif;
    padding: 100px 10%;
}
div.main-container h1 {
    font-family: "Proxima Nova Bold", Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0.08em;
    font-weight: 600;
    text-transform: uppercase;
}
div.main-container p {
    font-family: "Proxima Nova Light", Helvetica, sans-serif;
    font-size: 24px;
}
div.links {
    padding-top: 30px;
    padding-bottom: 30px;
}
div.link-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}
div.links a {
    font-family: "Proxima Nova Bold", Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: black;
}
div.latest-work h3 {
    font-family: "Proxima Nova Bold", Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #bbb;
}
div.dribbble-panel {
}
div.dribbble-panel img {
    max-width: 320px;
    border: 4px solid #eee;
}